[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".intellimacs"]
	path = .intellimacs
	url = git@github.com:MarcoIeni/intellimacs.git
