" <SPC> as the leader key
let mapleader = " "

" Show current vim mode
set showmode

" Use the clipboard register '*' for all yank, delete, change and put operations
" which would normally go to the unnamed register.
set clipboard+=unnamed

" Search as characters are entered
set incsearch

" Highlight search results
set hlsearch

" If a pattern contains an uppercase letter, searching is case sensitive,
" otherwise, it is not.
set ignorecase
set smartcase

" Emulate vim-surround. Commands: ys, cs, ds, S.
set surround

" Add text object for function arguments: aa (around argument), ia (inside argument)
set argtextobj

" Add text object for entire buffer: ae (around buffer), ie (inside buffer)
set textobj-entire

" Replace with register content shortcut: https://github.com/vim-scripts/ReplaceWithRegister
set ReplaceWithRegister

" navigation
nnoremap <leader>F    :action GotoFile<CR>
vnoremap <leader>F    :action GotoFile<CR>

nnoremap gd    :action GotoDeclaration<CR>
vnoremap gd    <Esc>:action GotoDeclaration<CR>

nnoremap gt    :action GotoTypeDeclaration<CR>
vnoremap gt    <Esc>:action GotoTypeDeclaration<CR>

nnoremap gr    :action FindUsages<CR>
vnoremap gr    <ESC>:action FindUsages<CR>

nnoremap gi    :action GotoImplementation<CR>
vnoremap gi    <ESC>:action GotoImplementation<CR>

nnoremap <C-i>    :action Forward<CR>
nnoremap <C-o>    :action Back<CR>

" management
nnoremap <leader>mr    :source ~/.ideavimrc<CR>
vnoremap <leader>mr    <Esc>:source ~/.ideavimrc<CR>

" toggles
nnoremap <leader>ti    :action EditorToggleShowIndentLines<CR>
vnoremap <leader>ti    <Esc>:action EditorToggleShowIndentLines<CR>

nnoremap <leader>tl    :action EditorToggleUseSoftWraps<CR>
vnoremap <leader>tl    :action EditorToggleUseSoftWraps<CR>

nnoremap <leader>tn    :action EditorToggleShowLineNumbers<CR>
vnoremap <leader>tn    :action EditorToggleShowLineNumbers<CR>

nnoremap <leader>tw    :action EditorToggleShowWhitespaces<CR>
vnoremap <leader>tw    :action EditorToggleShowWhitespaces<CR>

" refactor
nnoremap <leader>cr    :action RenameElement<CR>
vnoremap <leader>cr    :action RenameElement<CR>
nnoremap <leader>ca    :action ShowIntentionActions<CR>
vnoremap <leader>ca    :action ShowIntentionActions<CR>

" search
nnoremap <leader>sp    :action FindInPath<CR>
nnoremap <leader>S     :action FindInPath<CR>
vnoremap <leader>sp    :action FindInPath<CR>
nnoremap <leader>sc    :nohlsearch<CR>
vnoremap <leader>sc    <Esc>:nohlsearch<CR>


" tabs
nnoremap <leader>bn    :action NextTab<CR>
vnoremap <leader>bn    <Esc>:action NextTab<CR>
nnoremap <leader>bp    :action PreviousTab<CR>
vnoremap <leader>bp    <Esc>:action PreviousTab<CR>
nnoremap <leader>bu    :action ReopenClosedTab<CR>
vnoremap <leader>bu    <Esc>:action ReopenClosedTab<CR>
nnoremap <leader>bd    :action CloseAllEditorsButActive<CR>
vnoremap <leader>bd    :action CloseAllEditorsButActive<CR>
nnoremap <leader>bc    :action CloseContent<CR>
vnoremap <leader>bc    <Esc>:action CloseContent<CR>
nnoremap <leader>bb    :action RecentFiles<CR>
vnoremap <leader>bb    :action RecentFiles<CR>
nnoremap <leader>,    :action RecentFiles<CR>
